.about-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.about-container h1 {
    color: #333;
    margin-bottom: 20px;
}

section {
    margin-bottom: 30px;
}

iframe {
    width: 100%;
    border-radius: 10px;
}
