<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<%- include("../../views/partials/user/header") %>
<% if (typeof message !== "undefined" && message) { %>
    <div class="error" style="color: red; font-weight: bold; margin-bottom: 10px; text-align: center;">
        <%= message %>
    </div>
<% } %>

<!-- login-page -->
<div class="login">
	<div class="container">
		<div class="login-grids">
			<div class="col-md-6 log">
					 <h3>Login</h3>
					 <div class="strip"></div>
					 <p>Welcome, please enter the following to continue.</p>
					 <p>If you have previously Login with us, <a href="#">Click Here</a></p>
					 <form method="post" action="/login">
						 <h5>Email :</h5>	
						 <input type="text" value="" name="email" id="email" required>
						 <h5>Password:</h5>
						 <input type="password" value="" name="password" id="password" required>					
						 <input type="submit" value="Login">
						  
					 </form>
					<a href="#">Forgot Password ?</a>
			</div>
			<div class="col-md-6 login-right">
					<h3>New Registration</h3>
					<div class="strip"></div>
					<p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
					<a href="/signup" class="button">Create An Account</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //login-page -->
<%- include("../../views/partials/user/footer") %>

