<%- include("../../views/partials/user/header") %>

	<link href="css/notfound.css" rel="stylesheet" type="text/css" media="all" />  

</head>
<body>
	<div class="error-container">
		<h1>404 Not Found</h1>
		<p>Your visited page not found. You may go home page.</p>
		<a href="/" class="btn btn-danger">Back to home page</a>
	</div>
	<%- include("../../views/partials/user/footer") %>

