<script>
    $(document).ready(function() {
        $('.btn-mobile').on('click', function() {
            $('#offcanvas_aside').toggleClass('active');
        });
    });
</script>
</body>
</html>