<!DOCTYPE HTML>
<html lang="en">
<head>
  
    <link rel="icon" type="image/jpeg" href="/images/favicon.jpg">
    <meta charset="utf-8">
    <link rel="icon" type="image/jpeg" href="images/favicon.jpg">
    <title>Gems Of Elegance</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Men Fashion Admin Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Men Fashion Admin">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/x-icon" href="#">
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
    <link href="/css/adminheader.css" rel="stylesheet" type="text/css" media="all">
    <script src="https://kit.fontawesome.com/16d4885483.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    
</head>
<body>

    <header class="main-header">
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
                <i class="material-icons md-apps"></i>
            </button>
            <div class="logo-title">
                <img class="logo-img" src="/images/gems.png" alt="Logo">
                <h2>Gems of Elegance</h2>
            </div>
            <ul class="nav">
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#">
                        
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="/admin/logout">
                            <i class="material-icons md-exit_to_app"></i> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    
    
    <!-- Sidebar -->
    <aside class="navbar-aside" id="offcanvas_aside">
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard">
                        <i class="icon material-icons md-home"></i> Dashboard
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/users">
                        <i class="icon material-icons md-person"></i> Customer Management
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category">
                        <i class="icon material-icons md-category"></i> Category Management
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupons">
                        <i class="icon material-icons md-stars"></i> Coupon Management
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/getproduct">
                        <i class="icon material-icons md-shopping_bag"></i> Products Management
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/getoffers">
                        <i class="icon material-icons md-local-offer"></i> Offer Management
                    </a>
                </li>
                
                <li class="menu-item">
                    <a class="menu-link" href="/admin/getorders">
                        <i class="icon material-icons md-shopping_cart"></i> Orders Management
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/getSales">
                        <i class="icon material-icons md-shopping_cart"></i> Report 
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

    <!-- Main Content -->
   
    <!-- JavaScript -->
   

